@model AtelieDrinks.Models.Historico

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/orcamento.css">

    <style>
        .scrollable-content {
            max-height: 500px;
            overflow-y: auto;
        }
    </style>

    <title>Historico_Editar</title>
</head>
<body>
    <!--hero-banner-->
    <div class="hero-banner">
        <h1 class="title-banner">Historico</h1>
        <h3>Editar Orçamento</h3>
    </div>

    <!--content-->
    <div class="black-box ">
        <div class="content">
            <!--box-->
            <form asp-action="Edit">
                <div class="content-box scrollable-content">

                    <div style="margin: 750px 0 50px 0;" class="margin-box">
                        <h3>Informações do Orçamento</h3>
                        <p style="margin-top:5px">Detalhes do orçamento:</p>
                        <div>

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="IdHistorico" />
                            <div class="form-group">
                                <label asp-for="NumeroPessoas" class="control-label"></label>
                                <input asp-for="NumeroPessoas" class="form-control" />
                                <span asp-validation-for="NumeroPessoas" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CustoOperacional" class="control-label"></label>
                                <input asp-for="CustoOperacional" class="form-control" />
                                <span asp-validation-for="CustoOperacional" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CustoTotalInsumos" class="control-label"></label>
                                <input asp-for="CustoTotalInsumos" class="form-control" />
                                <span asp-validation-for="CustoTotalInsumos" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BaseOrcamento" class="control-label"></label>
                                <input asp-for="BaseOrcamento" class="form-control" />
                                <span asp-validation-for="BaseOrcamento" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ComissaoComercial" class="control-label"></label>
                                <input asp-for="ComissaoComercial" class="form-control" />
                                <span asp-validation-for="ComissaoComercial" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ComissaoGerencia" class="control-label"></label>
                                <input asp-for="ComissaoGerencia" class="form-control" />
                                <span asp-validation-for="ComissaoGerencia" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ValorPrimario" class="control-label"></label>
                                <input asp-for="ValorPrimario" class="form-control" />
                                <span asp-validation-for="ValorPrimario" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CustoPorPessoa" class="control-label"></label>
                                <input asp-for="CustoPorPessoa" class="form-control" />
                                <span asp-validation-for="CustoPorPessoa" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ValorArredondadoPraCima" class="control-label"></label>
                                <input asp-for="ValorArredondadoPraCima" class="form-control" />
                                <span asp-validation-for="ValorArredondadoPraCima" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MargemNegociacao" class="control-label"></label>
                                <input asp-for="MargemNegociacao" class="form-control" />
                                <span asp-validation-for="MargemNegociacao" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ValorOrcamento" class="control-label"></label>
                                <input asp-for="ValorOrcamento" class="form-control" />
                                <span asp-validation-for="ValorOrcamento" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrevisaoLucro" class="control-label"></label>
                                <input asp-for="PrevisaoLucro" class="form-control" />
                                <span asp-validation-for="PrevisaoLucro" class="text-danger"></span>
                            </div>

                        </div> <!--Fim margin-box-->

                    </div> <!--fim content box-->

                </div> <!--fim CONTENT-->
                <div class="list-buttons" style="justify-content:center">
                    <a href="@Url.Action("Index", "Historico")" class="button excluir">Voltar</a>
                    <input class="button continuar btn btn-primary" type="submit" value="Save" />
                </div>
            </form>

        </div>  <!--fim BLACKBOX-->

        <script>
            function formatCurrency(value) {
                var formatter = new Intl.NumberFormat('pt-BR', {
                    style: 'currency',
                    currency: 'BRL'
                });

                return formatter.format(value);
            }

            document.addEventListener('DOMContentLoaded', function () {
                var currencyElements = document.getElementsByClassName('currency');
                for (var i = 0; i < currencyElements.length; i++) {
                    var value = parseFloat(currencyElements[i].textContent.replace(',', '.'));
                    currencyElements[i].textContent = formatCurrency(value);
                }
            });
        </script>
</body>
</html>
