@model AtelieDrinks.Models.Historico

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Historico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdHistorico" />
            <div class="form-group">
                <label asp-for="NumeroPessoas" class="control-label"></label>
                <input asp-for="NumeroPessoas" class="form-control" />
                <span asp-validation-for="NumeroPessoas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustoOperacional" class="control-label"></label>
                <input asp-for="CustoOperacional" class="form-control" />
                <span asp-validation-for="CustoOperacional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustoTotalInsumos" class="control-label"></label>
                <input asp-for="CustoTotalInsumos" class="form-control" />
                <span asp-validation-for="CustoTotalInsumos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseOrcamento" class="control-label"></label>
                <input asp-for="BaseOrcamento" class="form-control" />
                <span asp-validation-for="BaseOrcamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComissaoComercial" class="control-label"></label>
                <input asp-for="ComissaoComercial" class="form-control" />
                <span asp-validation-for="ComissaoComercial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComissaoGerencia" class="control-label"></label>
                <input asp-for="ComissaoGerencia" class="form-control" />
                <span asp-validation-for="ComissaoGerencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorPrimario" class="control-label"></label>
                <input asp-for="ValorPrimario" class="form-control" />
                <span asp-validation-for="ValorPrimario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustoPorPessoa" class="control-label"></label>
                <input asp-for="CustoPorPessoa" class="form-control" />
                <span asp-validation-for="CustoPorPessoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorArredondadoPraCima" class="control-label"></label>
                <input asp-for="ValorArredondadoPraCima" class="form-control" />
                <span asp-validation-for="ValorArredondadoPraCima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MargemNegociacao" class="control-label"></label>
                <input asp-for="MargemNegociacao" class="form-control" />
                <span asp-validation-for="MargemNegociacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorOrcamento" class="control-label"></label>
                <input asp-for="ValorOrcamento" class="form-control" />
                <span asp-validation-for="ValorOrcamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrevisaoLucro" class="control-label"></label>
                <input asp-for="PrevisaoLucro" class="form-control" />
                <span asp-validation-for="PrevisaoLucro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
