@model AtelieDrinks.Models.Orcamento

@{
    ViewData["Title"] = "Index1";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/orcamento.css">

    <title>Orcamento 1</title>
</head>
<body>
    <!--hero-banner-->
    <div class="hero-banner orcamento-banner">
        <h1 class="title-banner">Orcamento</h1>
        <h3>Passo 1</h3>
    </div>

    <!--content-->
    <div class="black-box">
        <div class="content">
            <!--box-->
            <div class="content-box scroll" style="height:40vh;">
                <div style="margin: 50px 0 50px 0;" class="margin-box">
                    <p style="margin-top:5px">Insira os dados do clinte</p>

                    <div class="input-group">
                        <div class="list-inputs">
                            <div class="form-input" style="width: 70%;">
                                <input id="nomeClienteInput" type="text" pattern="[A-Za-zÀ-ÖØ-öø-ÿ ]*" maxlength="100">
                                <label><span>NOME</span></label>
                            </div>
                        </div>

                        <div class="list-inputs">
                            <div class="form-input" style="width: 70%;">
                                <input id="dataOrcamentoInput" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                <label><span>DATA</span></label>
                            </div>
                        </div>

                        <div class="list-inputs">
                            <div class="form-input">
                                <input id="numeroPessoasInput" type="number" min="1">
                                <label><span>QTD</span></label>
                            </div>
                        </div>

                    </div> 
                </div> 
            </div> 

            <div class="list-buttons">
                <button class="button excluir" onclick="window.location='@Url.Action("Index", "Home")'">Voltar</button>
                <button id="continuarButton" class="button continuar">Continuar</button>
            </div>
        </div> <!--fim CONTENT-->
    </div>  <!--fim BLACKBOX-->
</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/sweetalert/dist/sweetalert.css">

<script>
    $(document).ready(function () {
        $('#continuarButton').click(function () {
            var numeroPessoas = $('#numeroPessoasInput').val().trim();
            var nomeCliente = $('#nomeClienteInput').val().trim();
            var dataOrcamento = $('#dataOrcamentoInput').val();

            if (numeroPessoas === '') {
                swal("Erro", "Por favor, insira um número.", "error");
                return;
            }

            if (isNaN(numeroPessoas)) {
                swal("Erro", "Por favor, insira um número válido.", "error");
                return;
            }

            var dataValida = true;
            if (dataOrcamento !== '') {
                var dataAtual = new Date().toISOString().split('T')[0];
                if (dataOrcamento >= dataAtual) {
                    swal("Erro", "A data do orçamento deve ser igual ou posterior à data atual.", "error");
                    dataValida = false;
                }
            }

            if (!dataValida) {
                return;
            }

            $.post({
                url: '@Url.Action("CreateNumeroPessoas", "Orcamento")',
                data: { numeroPessoasParameter: numeroPessoas, nomeClienteParameter: nomeCliente, dataOrcamentoParameter: dataOrcamento },
                success: function () {
                    var url = '@Url.Action("Index", "Orcamento", new { numberPage = 2 })';
                    window.location.href = url;
                },
                error: function () {
                    swal("Erro", "Ocorreu um erro ao enviar os dados para o modelo.", "error");
                }
            });
        });
    });
</script>
