@model IEnumerable<AtelieDrinks.Models.Orcamento>
@{
    ViewData["Title"] = "Index4";
}

@*TODO: Alinhar os inputs da direita no canto do modal*@
@*TODO: Valor total com R$ duplicado*@
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/orcamento.css">

    <title>Orcamento 4</title>
</head>
<body>
    <!--hero-banner-->
    <div class="hero-banner orcamento-banner">
        <h1 class="title-banner">Orcamento</h1>
        <h3>Passo 4</h3>
    </div>

    <!--content-->
    <div class="black-box">
        <div class="black-box">
            <div class="content">
                <!--box-->
                <div class="content-box scroll">
                    <div class="margin-box" style="margin: 150px 0 50px 0;">
                        <h3>TAXA DE DESLOCAMENTO</h3>
                        <p style="margin-top:5px">Pedágios, carros, seguro de reserva, etc...</p>

                        <div class="row-inputs">

                            <div class="list-inputs">
                                <!--Lista TRANSP. Carreto-->
                                <div class="form-input" style="width:45px">
                                    <!--Input QTD-->
                                    <input id="qtdCarreto" required="" class="text-right">
                                    <label><span>QTD</span></label>
                                </div>
                                <p class="list-input-content">Carreta até 5 Freelancer</p>
                                <div class="form-input">
                                    <!--Input Valor-->
                                    <input id="valorCarreto" required="" class="text-right">
                                    <label><span>Valor</span></label>
                                </div>
                                <div class="form-input">
                                    <!--Input Total-->
                                    <input id="totalCarreto" required="" class="text-right">
                                    <label><span>Total</span></label>
                                </div>
                            </div> <!--Fim lista TRANSP. Carreto-->

                            <div class="list-inputs">
                                <!--Lista PEDAGIOS-->
                                <div class="form-input" style="width:45px">
                                    <!--Input QTD-->
                                    <input id="qtdPedagios" required="" class="text-right">
                                    <label><span>QTD</span></label>
                                </div>
                                <p class="list-input-content">Pedágios</p>
                                <div class="form-input" style="left: 29%">
                                    <!--Input Valor-->
                                    <input id="valorPedagios" required="" class="text-right">
                                    <label><span>Valor</span></label>
                                </div>
                                <div class="form-input" style="left: 29%">
                                    <!--Input Total-->
                                    <input id="totalPedagios" required="" class="text-right">
                                    <label><span>Total</span></label>
                                </div>
                            </div> <!--Fim lista PEDAGIOS-->

                            <div class="list-inputs">
                                <!--Lista ALIMENTACAO-->
                                <div class="form-input" style="width:45px">
                                    <!--Input QTD-->
                                    <input id="qtdAlimentacao" required="" class="text-right">
                                    <label><span>QTD</span></label>
                                </div>
                                <p class="list-input-content">Alimentação</p>
                                <div class="form-input" style="left: 23%">
                                    <!--Input Valor-->
                                    <input id="valorAlimentacao" required="" class="text-right">
                                    <label><span>Valor</span></label>
                                </div>
                                <div class="form-input" style="left: 23%">
                                    <!--Input Total-->
                                    <input id="totalAlimentacao" required="" class="text-right">
                                    <label><span>Total</span></label>
                                </div>
                            </div> <!--Fim lista ALIMENTACAO-->

                            <div class="list-inputs">
                                <!--Lista CARRO COLABORADORES-->
                                <div class="form-input" style="width:45px">
                                    <!--Input QTD-->
                                    <input id="qtdCarroColab" required="" class="text-right">
                                    <label><span>QTD</span></label>
                                </div>
                                <p class="list-input-content">Carro Colaboradores</p>
                                <div class="form-input" style="left: 6%">
                                    <!--Input Valor-->
                                    <input id="valorCarroColab" required="" class="text-right">
                                    <label><span>Valor</span></label>
                                </div>
                                <div class="form-input" style="left: 6%">
                                    <!--Input Total-->
                                    <input id="totalCarroColab" required="" class="text-right">
                                    <label><span>Total</span></label>
                                </div>
                            </div> <!--Fim lista CARRO COLABORADORES-->

                            <div class="list-inputs">
                                <!--Lista DIARIAS HOTEIS-->
                                <div class="form-input" style="width:45px">
                                    <!--Input QTD-->
                                    <input id="qtdHospedagem" required="" class="text-right">
                                    <label><span>QTD</span></label>
                                </div>
                                <p class="list-input-content">Diárias Hotéis</p>
                                <div class="form-input" style="left: 18%">
                                    <!--Input Valor-->
                                    <input id="valorHospedagem" required="" class="text-right">
                                    <label><span>Valor</span></label>
                                </div>
                                <div class="form-input" style="left: 18%">
                                    <!--Input Total-->
                                    <input id="totalHospedagem" required="" class="text-right">
                                    <label><span>Total</span></label>
                                </div>
                            </div> <!--Fim lista DIARIAS HOTEIS-->

                            <div class="list-inputs">
                                <!--SEGURO DE RESERVA-->
                                <div class="form-input" style="width:45px">
                                    <!--Input QTD-->
                                    <input id="qtdReserva" required="" class="text-right">
                                    <label><span>QTD</span></label>
                                </div>
                                <p class="list-input-content">Seguro de Reserva</p>
                                <div class="form-input" style="left: 8%">
                                    <!--Input Valor-->
                                    <input id="valorReserva" required="" class="text-right">
                                    <label><span>Valor</span></label>
                                </div>
                                <div class="form-input" style="left: 8%">
                                    <!--Input Total-->
                                    <input id="totalReserva" required="" class="text-right">
                                    <label><span>Total</span></label>
                                </div>
                            </div> <!--Fim lista SEGURO DE RESERVA-->

                        </div> <!--Fim row-inputs-->
                    </div> <!--Fim margin-box-->
                </div> <!--fim content box-->

            <div class="list-buttons">
                <button class="button excluir" onclick="window.location='@Url.Action("Index", "Orcamento", new { numberPage = 3 })'">Voltar</button>
                <button id="button_continuar" class="button continuar">Continuar</button>
            </div> <!--fim lista-buttons-->
        </div> <!--fim CONTENT-->
    </div>  <!--fim BLACKBOX-->
</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/sweetalert/dist/sweetalert.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/sweetalert/dist/sweetalert.css">

<script>
    $(document).ready(function () {
        $('.list-inputs').on('input', 'input[id^="valor"]', function () {
            updateInputs($(this));
        });

        $('#button_continuar').click(function () {
            if (validateInputs()) {
                formatValues();
                sendDataToController();
            }
            else {
                swal("Campos obrigatórios", "Por favor, preencha todos os campos obrigatórios.", "warning");
            }
        });

        function formatValues() {
            $('.list-inputs').each(function () {
                var $listInputs = $(this);
                var valor = $listInputs.find('input[id^="valor"]').val();
                var total = $listInputs.find('input[id^="total"]').val();

                var cleanedValue = valor.replace(/[^\d,.]/g, '');
                cleanedValue = cleanedValue.replace('R$', '');
                var formattedValue = cleanedValue.replace('.', '');

                var cleanedTotal = total.replace(/[^\d,.]/g, '');
                cleanedTotal = cleanedTotal.replace('R$', '');
                var formattedTotal = cleanedTotal.replace('.', '');

                $listInputs.find('input[id^="valor"]').val(formattedValue);
                $listInputs.find('input[id^="total"]').val(formattedTotal);
            });
        }

        function updateInputs(input) {
            var $listInputs = input.closest('.list-inputs');
            var qtd = parseInt($listInputs.find('input[id^="qtd"]').val());
            var valor = $listInputs.find('input[id^="valor"]').val();

            var digitsOnly = valor.replace(/[^\d]/g, '');
            if (digitsOnly === '') {
                digitsOnly = '0';
            }

            var valorFormatted = parseFloat(digitsOnly.slice(0, -2) + '.' + digitsOnly.slice(-2));
            if (isNaN(valorFormatted)) {
                valorFormatted = 0;
            }

            var valorFormattedString = formatMoney(valorFormatted);
            $listInputs.find('input[id^="valor"]').val(valorFormattedString);
            $listInputs.find('label[id^="valor-label"]').text(valorFormattedString);

            var total = qtd * valorFormatted;
            if (isNaN(total)) {
                total = 0;
            }
            var totalFormattedString = formatMoney(total);
            $listInputs.find('input[id^="total"]').val(totalFormattedString);
            $listInputs.find('label[id^="total-label"]').text(totalFormattedString);
        }

        function sendDataToController() {
            var qtdCarreto = parseInt($('#qtdCarreto').val());
            var valorCarreto = parseFloat($('#valorCarreto').val().replace(',', '.')).toFixed(2);
            var totalCarreto = parseFloat($('#totalCarreto').val().replace(',', '.')).toFixed(2);

            var qtdPedagios = parseInt($('#qtdPedagios').val());
            var valorPedagios = parseFloat($('#valorPedagios').val().replace(',', '.')).toFixed(2);
            var totalPedagios = parseFloat($('#totalPedagios').val().replace(',', '.')).toFixed(2);

            var qtdAlimentacao = parseInt($('#qtdAlimentacao').val());
            var valorAlimentacao = parseFloat($('#valorAlimentacao').val().replace(',', '.')).toFixed(2);
            var totalAlimentacao = parseFloat($('#totalAlimentacao').val().replace(',', '.')).toFixed(2);

            var qtdCarroColab = parseInt($('#qtdCarroColab').val());
            var valorCarroColab = parseFloat($('#valorCarroColab').val().replace(',', '.')).toFixed(2);
            var totalCarroColab = parseFloat($('#totalCarroColab').val().replace(',', '.')).toFixed(2);

            var qtdHospedagem = parseInt($('#qtdHospedagem').val());
            var valorHospedagem = parseFloat($('#valorHospedagem').val().replace(',', '.')).toFixed(2);
            var totalHospedagem = parseFloat($('#totalHospedagem').val().replace(',', '.')).toFixed(2);

            var qtdReserva = parseInt($('#qtdReserva').val());
            var valorReserva = parseFloat($('#valorReserva').val().replace(',', '.')).toFixed(2);
            var totalReserva = parseFloat($('#totalReserva').val().replace(',', '.')).toFixed(2);

            $.post({
                url: '@Url.Action("CreateTxDeslocamento", "Orcamento")',
                data: {
                    qtdCarretoParameter: qtdCarreto,
                    valorCarretoParameter: valorCarreto,
                    totalCarretoParameter: totalCarreto,

                    qtdPedagiosParameter: qtdPedagios,  
                    valorPedagiosParameter: valorPedagios,
                    totalPedagiosParameter: totalPedagios,

                    qtdAlimentacaoParameter: qtdAlimentacao,  
                    valorAlimentacaoParameter: valorAlimentacao,
                    totalAlimentacaoParameter: totalAlimentacao,

                    qtdCarroColabParameter: qtdCarroColab,  
                    valorCarroColabParameter: valorCarroColab,
                    totalCarroColabParameter: totalCarroColab,

                    qtdHospedagemParameter: qtdHospedagem,  
                    valorHospedagemParameter: valorHospedagem,
                    totalHospedagemParameter: totalHospedagem,

                    qtdReservaParameter: qtdReserva,  
                    valorReservaParameter: valorReserva,
                    totalReservaParameter: totalReserva
                },
                success: function () {
                    var url = '@Url.Action("Index", "Orcamento", new { numberPage = 5 })';
                    window.location.href = url;
                },
                error: function () {
                    swal("Erro", "Ocorreu um erro ao enviar os dados para a controller.", "error");
                }
            });
        }

        function validateInputs() {
            var inputs = document.getElementsByTagName('input');
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].hasAttribute('required') && inputs[i].value === '') {
                    return false;
                }
            }
            return true;
        }

        function formatMoney(value) {
            var formatter = new Intl.NumberFormat('pt-BR', {
                style: 'currency',
                currency: 'BRL'
            });

            return formatter.format(value);
        }
    });
</script>