@model IEnumerable<AtelieDrinks.Models.Orcamento>

@{
    ViewData["Title"] = "Index2";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/orcamento.css">

    <title>Orcamento 2</title>
</head>
<body>
    <!--hero-banner-->
    <div class="hero-banner orcamento-banner">
        <h1 class="title-banner">Orcamento</h1>
        <h3>Passo 2</h3>
    </div>

    <!--content-->
    <div class="black-box">
        <div class="content">
            <!--box-->
            <div class="content-box scroll">
                <div style="margin: 350px 0 50px 0;" class="margin-box">
                    <h3>CUSTOS OPERACIONAIS</h3>
                    <p style="margin-top:5px">Profissões gerais, coordenadores, transportadores, etc...</p>

                    <div class="row-inputs">

                        <div class="list-inputs">
                            <!--Lista COORDENADOR-->
                            <div class="form-input" style="width:45px">
                                <!--Input QTD-->
                                <input id="qtdCoordenador" required="">
                                <label><span>QTD</span></label>
                            </div>
                            <p class="list-input-content">Coordenador</p>
                            <div class="form-input" style="left: 30%">
                                <!--Input Valor-->
                                <input id="valorCoordenador" required="">
                                <label><span>Valor</span></label>
                            </div>
                            <div class="form-input" style="left: 30%">
                                <!--Input Total-->
                                <input id="totalCoordenador" required="">
                                <label><span>Total</span></label>
                            </div>
                        </div> <!--Fim lista COORDENADOR-->

                        <div class="list-inputs">
                            <!--Lista PROFISSIONAIS GERAIS-->
                            <div class="form-input" style="width:45px">
                                <!--Input QTD-->
                                <input name="qtdProfissionaisGeriasParameter" id="qtdProfissionaisGerias" required="">
                                <label><span>QTD</span></label>
                            </div>
                            <p class="list-input-content">Profissionais Gerais</p>
                            <div class="form-input" style="left: 17%">
                                <!--Input Valor-->
                                <input name="valorProfissionaisGeriasParameter" id="valorProfissionaisGerias" required="">
                                <label><span>Valor</span></label>
                            </div>
                            <div class="form-input" style="left: 17%">
                                <!--Input Total-->
                                <input name="totalProfissionaisGeriasParameter" id="totalProfissionaisGerias" required="">
                                <label><span>Total</span></label>
                            </div>
                        </div> <!--Fim lista PROFISSIONAIS GERAIS-->

                        <div class="list-inputs">
                            <!--Lista BALCÕES-->
                            <div class="form-input" style="width:45px">
                                <!--Input QTD-->
                                <input id="qtdBalcoes" required="">
                                <label><span>QTD</span></label>
                            </div>
                            <p class="list-input-content">Balcões</p>
                            <div class="form-input" style="left: 39%">
                                <!--Input Valor-->
                                <input id="valorBalcoes" required="">
                                <label><span>Valor</span></label>
                            </div>
                            <div class="form-input" style="left: 39%">
                                <!--Input Total-->
                                <input id="totalBalcoes" required="">
                                <label><span>Total</span></label>
                            </div>
                        </div> <!--Fim lista BALCÕES-->

                        <div class="list-inputs">
                            <!--Lista IMPOSTOS FEDERAIS-->
                            <div class="form-input" style="width:45px">
                                <!--Input QTD-->
                                <input id="qtdImpostosFederais" required="">
                                <label><span>QTD</span></label>
                            </div>
                            <p class="list-input-content">Impostos Federais</p>
                            <div class="form-input" style="left: 20%">
                                <!--Input Valor-->
                                <input id="valorImpostosFederais" required="">
                                <label><span>Valor</span></label>
                            </div>
                            <div class="form-input" style="left: 20%">
                                <!--Input Total-->
                                <input id="totalImpostosFederais" required="">
                                <label><span>Total</span></label>
                            </div>
                        </div> <!--Fim lista IMPOSTOS FEDERAIS-->

                        <div class="list-inputs">
                            <!--Lista SEGURO DE RESERVA-->
                            <div class="form-input" style="width:45px">
                                <!--Input QTD-->
                                <input id="qtdSeguroReserva" required="">
                                <label><span>QTD</span></label>
                            </div>
                            <p class="list-input-content">Seguro de Reserva</p>
                            <div class="form-input" style="left: 20%">
                                <!--Input Valor-->
                                <input id="valorSeguroReserva" required="">
                                <label><span>Valor</span></label>
                            </div>
                            <div class="form-input" style="left: 20%">
                                <!--Input Total-->
                                <input id="totalSeguroReserva" required="">
                                <label><span>Total</span></label>
                            </div>
                        </div> <!--Fim lista SEGURO DE RESERVA-->

                        <div class="list-inputs">
                            <!--Lista TAXA OP-->
                            <div class="form-input" style="width:45px">
                                <!--Input QTD-->
                                <input id="qtdTaxaOp" required="">
                                <label><span>QTD</span></label>
                            </div>
                            <p class="list-input-content">Taxa de Operacionalização</p>
                            <div class="form-input" style="left: 5%">
                                <!--Input Valor-->
                                <input id="valorTaxaOp" required="">
                                <label><span>Valor</span></label>
                            </div>
                            <div class="form-input" style="left: 5%">
                                <!--Input Total-->
                                <input id="totalTaxaOp" required="">
                                <label><span>Total</span></label>
                            </div>
                        </div> <!--Fim lista TAXA OP-->

                    </div> <!--Fim row-inputs-->

                </div> <!--Fim margin-box-->

            </div> <!--fim content box-->

            <div class="list-buttons">
                <button class="button excluir" onclick="window.location='@Url.Action("Index", "Orcamento", new { numberPage = 1 })'">Voltar</button>
                <button id="button_continuar" class="button continuar">Continuar</button>

            </div>

        </div> <!--fim CONTENT-->
    </div>  <!--fim BLACKBOX-->
</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/sweetalert/dist/sweetalert.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/sweetalert/dist/sweetalert.css">

<script>
    $(document).ready(function () {
        $('.list-inputs').on('input', 'input[id^="valor"]', function () {
            updateInputs($(this));
        });

        $('#button_continuar').click(function () {
            if (validateInputs()) {
                formatValues();
                sendDataToController();
            } else {
                swal("Campos obrigatórios", "Por favor, preencha todos os campos obrigatórios.", "warning");
            }
        });

        function formatValues() {
            $('.list-inputs').each(function () {
                var $listInputs = $(this);
                var valor = $listInputs.find('input[id^="valor"]').val();
                var total = $listInputs.find('input[id^="total"]').val();

                var cleanedValue = valor.replace(/[^\d,.]/g, '');
                cleanedValue = cleanedValue.replace('R$', '');
                var formattedValue = cleanedValue.replace('.', '');
                
                var cleanedTotal = total.replace(/[^\d,.]/g, '');
                cleanedTotal = cleanedTotal.replace('R$', '');
                var formattedTotal = cleanedTotal.replace('.', '');

                $listInputs.find('input[id^="valor"]').val(formattedValue);
                $listInputs.find('input[id^="total"]').val(formattedTotal);
            });
        }

        function updateInputs(input) {
            var $listInputs = input.closest('.list-inputs');
            var qtd = parseInt($listInputs.find('input[id^="qtd"]').val());
            var valor = $listInputs.find('input[id^="valor"]').val();

            var digitsOnly = valor.replace(/[^\d]/g, '');
            if (digitsOnly === '') {
                digitsOnly = '0';
            }

            var valorFormatted = parseFloat(digitsOnly.slice(0, -2) + '.' + digitsOnly.slice(-2));
            if (isNaN(valorFormatted)) {
                valorFormatted = 0;
            }

            var valorFormattedString = formatMoney(valorFormatted);
            $listInputs.find('input[id^="valor"]').val(valorFormattedString);
            $listInputs.find('label[id^="valor-label"]').text(valorFormattedString);

            var total = qtd * valorFormatted;
            if (isNaN(total)) {
                total = 0;
            }
            var totalFormattedString = formatMoney(total);
            $listInputs.find('input[id^="total"]').val(totalFormattedString);
            $listInputs.find('label[id^="total-label"]').text(totalFormattedString);
        }

        function sendDataToController() {
            var qtdCoordenador = parseInt($('#qtdCoordenador').val());
            var valorCoordenador = parseFloat($('#valorCoordenador').val().replace(',', '.')).toFixed(2);
            var totalCoordenador = parseFloat($('#totalCoordenador').val().replace(',', '.')).toFixed(2);

            var qtdProfissionaisGerais = parseInt($('#qtdProfissionaisGerias').val());
            var valorProfissionaisGerais = parseFloat($('#valorProfissionaisGerias').val().replace(',', '.')).toFixed(2);
            var totalProfissionaisGerais = parseFloat($('#totalProfissionaisGerias').val().replace(',', '.')).toFixed(2);

            var qtdBalcoes = parseInt($('#qtdBalcoes').val());
            var valorBalcoes = parseFloat($('#valorBalcoes').val().replace(',', '.')).toFixed(2);
            var totalBalcoes = parseFloat($('#totalBalcoes').val().replace(',', '.')).toFixed(2);

            var qtdImpostosFederais = parseInt($('#qtdImpostosFederais').val());
            var valorImpostosFederais = parseFloat($('#valorImpostosFederais').val().replace(',', '.')).toFixed(2);
            var totalImpostosFederais = parseFloat($('#totalImpostosFederais').val().replace(',', '.')).toFixed(2);

            var qtdSeguroReserva = parseInt($('#qtdSeguroReserva').val());
            var valorSeguroReserva = parseFloat($('#valorSeguroReserva').val().replace(',', '.')).toFixed(2);
            var totalSeguroReserva = parseFloat($('#totalSeguroReserva').val().replace(',', '.')).toFixed(2);

            var qtdTaxaOp = parseInt($('#qtdTaxaOp').val());
            var valorTaxaOp = parseFloat($('#valorTaxaOp').val().replace(',', '.')).toFixed(2);
            var totalTaxaOp = parseFloat($('#totalTaxaOp').val().replace(',', '.')).toFixed(2);

            $.post({
                url: '@Url.Action("CreateCustosOp", "Orcamento")',
                data: {
                    qtdCoordenadorParameter: qtdCoordenador,
                    valorCoordenadorParameter: valorCoordenador,
                    totalCoordenadorParameter: totalCoordenador,

                    qtdProfissionaisGeriasParameter: qtdProfissionaisGerais,
                    valorProfissionaisGeriasParameter: valorProfissionaisGerais,
                    totalProfissionaisGeriasParameter: totalProfissionaisGerais,

                    qtdBalcoesParameter: qtdBalcoes,
                    valorBalcoesParameter: valorBalcoes,
                    totalBalcoesParameter: totalBalcoes,

                    qtdImpostosFederaisParameter: qtdImpostosFederais,
                    valorImpostosFederaisParameter: valorImpostosFederais,
                    totalImpostosFederaisParameter: totalImpostosFederais,

                    qtdSeguroReservaParameter: qtdSeguroReserva,
                    valorSeguroReservaParameter: valorSeguroReserva,
                    totalSeguroReservaParameter: totalSeguroReserva,

                    qtdTaxaOpParameter: qtdTaxaOp,
                    valorTaxaOpParameter: valorTaxaOp,
                    totalTaxaOpParameter: totalTaxaOp
                },
                success: function () {
                    var url = '@Url.Action("Index", "Orcamento", new { numberPage = 3 })';
                    window.location.href = url;
                },
                error: function () {
                    swal("Erro", "Ocorreu um erro ao enviar os dados para a controller.", "error");
                }
            });
        }

        function validateInputs() {
            var inputs = document.getElementsByTagName('input');
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].hasAttribute('required') && inputs[i].value === '') {
                    return false;
                }
            }
            return true;
        }

        function formatMoney(value) {
            var formatter = new Intl.NumberFormat('pt-BR', {
                style: 'currency',
                currency: 'BRL'
            });

            return formatter.format(value);
        }
    });

</script>
