@{
    ViewData["Title"] = "Home Page";
}
@model AtelieDrinks.Models.Historico

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/orcamento.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/stylecards.css">
    <script src="/js/scriptdashboard.js"></script>

    <title>DASHBOARD</title>
</head>

<body>
    <!--hero-banner-->
    <div class="hero-banner dashboard-banner">
        <h1 class="title-banner">DASHBOARD</h1>
        <h3>Seja bem vindo(a), USUARIO</h3>
    </div>

    <!--Content-->
    <div class="black-box">
        <div class="content" onclick="window.location.href = '@Url.Action("Index", "Orcamento", new { numberPage = 1 })'">
            <div class="content-box criar-orcamento">
                <a class="botao-dashboard" href="@Url.Content("~/Orcamento/1")" target="_self">
                    <h4> Crie o seu <br><span class="text-dashboard-content">ORÇAMENTO</span> </h4>
                </a>
            </div> <!--fim content box-->

            <div class="row-content">
                <div class="content-box dashboard-penultimo">
                    <p>penúltimo<br /><span class="text-dashboard-content">ORÇAMENTO</span><br />R$ @Html.DisplayFor(model => model.ValorOrcamento)</p>
                </div>
                <div class="content-box dashboard-ultimo">
                    <p>último<br /><span class="text-dashboard-content">ORÇAMENTO</span><br class="currency" />R$ @Html.DisplayFor(model => model.ValorOrcamento)</p>
                </div>
                <a class="content-box dashboard-historico a-dashboard" href="Historico">
                    <p class="text-dashboard-content">HIS<br />TÓ<br />RI<br />CO<br /></p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
