@model Login

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="/css/login.css">

<div class="body">
    <div class="veen">
        <div class="login-btn splits">
            <p>Já é um usuário?</p>
            <button class="active">Login</button>
        </div>
        <div class="rgstr-btn splits">
            <p>Ainda não possui uma conta?</p>
            <button>Register</button>
        </div>
        <div class="wrapper">
            <form id="login" asp-action="Login" method="post" tabindex="500">
                <h3>Login</h3>
                <div class="mail">
                    <input type="email" asp-for="Email" name="Email" required>
                    <label>Email</label>
                </div>
                <div class="passwd">
                    <input type="password" asp-for="Password" name="Password" required>
                    <label>Senha</label>
                </div>
                <div class="submit">
                    <button type="submit" class="dark">Login</button>
                </div>
            </form>
            <form id="register" asp-action="Register" method="post" tabindex="502">
                <h3>Cadastrar</h3>
                <div class="user">
                    <input type="text" asp-for="Usuario" name="Usuario" required>
                    <label>Usuário</label>
                </div>
                <div class="mail">
                    <input type="email" asp-for="Email" name="Email" required>
                    <label>Email</label>
                </div>
                <div class="passwd">
                    <input type="password" asp-for="Password" name="Password" required>
                    <label>Senha</label>
                </div>
                <div class="submit">
                    <button class="dark">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style type="text/css">
    .site-link {
        padding: 5px 15px;
        position: fixed;
        z-index: 99999;
        background: #fff;
        box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
        right: 30px;
        bottom: 30px;
        border-radius: 10px;
    }

        .site-link img {
            width: 30px;
            height: 30px;
        }
</style>

<script>
    $(document).ready(function () {
        $(".veen .rgstr-btn button").click(function () {
            $('.veen .wrapper').addClass('move');
            $('.body').css('background', '#e0b722');
            $(".veen .login-btn button").removeClass('active');
            $(this).addClass('active');
        });
        $(".veen .login-btn button").click(function () {
            $('.veen .wrapper').removeClass('move');
            $('.body').css('background', '#ff4931');
            $(".veen .rgstr-btn button").removeClass('active');
            $(this).addClass('active');
        });

        $("#login").submit(function (event) {
            Swal.close();

            var email = $("#login input[name='Email']").val();
            var password = $("#login input[name='Password']").val();

            if (!email || !password) {
                event.preventDefault();
                Swal.fire({
                    icon: 'error',
                    title: 'Erro',
                    text: 'Por favor, preencha todos os campos obrigatórios.'
                });
            }

            var password = $("#login input[name='Password']").val();
            if (password.length < 6) {
                event.preventDefault();
                Swal.fire({
                    icon: 'error',
                    title: 'Erro',
                    text: 'Senha incorreta.'
                });
            }
        });

        $("#register").submit(function (event) {
            Swal.close();

            var email = $("#register input[name='Email']").val();
            var password = $("#register input[name='Password']").val();

            if (!email || !password) {
                event.preventDefault();
                Swal.fire({
                    icon: 'error',
                    title: 'Erro',
                    text: 'Por favor, preencha todos os campos obrigatórios.'
                });
            }

            // Validação da senha
            var password = $("#register input[name='Password']").val();
            if (!/[A-Z]/.test(password)) {
                event.preventDefault();
                Swal.fire({
                    icon: 'error',
                    title: 'Erro',
                    text: 'A senha deve conter pelo menos uma letra maiúscula.'
                });
            }
        });
    });
</script>
