@{
    ViewData["Title"] = "User";
}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/user.css">
        <link rel="stylesheet" href="/css/orcamento.css">
    <!-- <script src="/js/scriptdashboard.js"></script> -->

        <title>Tela de Usuário</title>
    </head>
    <body>
        <div class="hero-banner user-banner">
            <h1 class="title-banner">PROFILE</h1>
            <h3>Altere suas configurações de conta</h3>
        </div>
        <div class="black-box">
            <div class="manage-profile">
                <br />
                <div class="manage-profile-title">DADOS DA CONTA</div>
                <hr>
                <!-- edit profile page -->
                <div class="edit-profile-section">
                    <div class="manage-profile-subtitle">Imagem de perfil</div>

                    <form action="" method="post" class="manage-profile-form">

                        <!--   profile pic here -->
                        <div class="center">
                            <div class="formulario-input">
                                <div class="preview">
                                    <img id="file-ip-1-preview">
                                </div>
                                <label for="file-ip-1">Upload Image</label>
                                <input type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event);">

                            </div>
                        </div>
                        <div class="column-inputs">
                            <div class="row-inputs">

                                <div class="input-group borda-input">
                                    <input required="" type="text" name="text" autocomplete="off" class="input">
                                    <label class="user-label">Nome</label>
                                </div>
                                <div class="input-group borda-input">
                                    <input required="" type="text" name="text" autocomplete="off" class="input">
                                    <label class="user-label">Usuário</label>
                                </div>
                            </div>

                            <div class="input-group borda-input">
                                <input required="" type="text" name="text" autocomplete="off" class="input">
                                <label class="user-label">Email</label>
                            </div>

                            <div class="input-group borda-input">
                                <input required="" type="text" name="text" autocomplete="off" class="input">
                                <label class="user-label">Telefone</label>
                            </div>
                        </div>

                        <button class="button continuar user-profile">Salvar</button>
                    </form>
                </div>
                <hr>
                <!-- change password  -->
                <div class="manage-profile-subtitle">Mudar Senha</div>

                <form action="" method="post" class="manage-profile-form">
                    <div class="column-inputs">

                        <div class="input-group borda-input">
                            <input required="" type="text" name="text" autocomplete="off" class="input">
                            <label class="user-label">Senha Antiga</label>
                        </div>
                        <div class="input-group borda-input">
                            <input required="" type="text" name="text" autocomplete="off" class="input">
                            <label class="user-label">Senha Nova</label>
                        </div>
                        <div class="input-group borda-input">
                            <input required="" type="text" name="text" autocomplete="off" class="input">
                            <label class="user-label">Confirmar Nova Senha</label>
                        </div>

                        <button class="button continuar user-profile">Salvar Nova Senha</button>
                    </div>
                </form>
                <hr>

                <!-- delete account -->
                <div class="manage-profile-subtitle">Deletar Conta</div>

                <div class="manage-profile-close">
                    <p class="text-delete-account">
                        Ao excluir sua conta, você não poderá recuperar o conteúdo ou as informações que compartilhou.
                        <span> Warning:</span>Fechar sua conta é irreversível.
                    </p>
                    <button class="user-button user-profile">DELETAR Conta</button>
                </div>

            </div>
        </div>

    </body>
</html>




